---
const texto = "Soy una persona curiosa, creativa y comprometida con lo que hace. A lo largo del    tiempo fui construyendo este espacio para mostrar algunos de los proyectos en los que trabajé, tanto de manera individual como en equipo. Cada uno refleja mi forma de pensar, resolver problemas y seguir aprendiendo. Me apasiona [tu rubro o especialidad, ej. el diseño UX/UI, la programación web, la fotografía documental...] y siempre estoy buscando nuevos desafíos que me permitan crecer profesional y personalmente.Gracias por tomarte el tiempo de pasar por acá. ¡Espero que te guste lo que ves!"
---

<section class="w-full bg-amber-400">
    <div class="container flex justify-center items-center  m-25 gap-4 p-4">
        <div> 
            <img class="rounded-full  bg-amber-200" src="https://placehold.co/350x350" alt="Perfil" />
        </div>
        <div>
            <div class="texto w-130">
                <p>
                    {texto}
                </p>
            </div>
            
        </div>
    </div>
</section>