---


---

<section class="w-full">
    <div class="container flex justify-center items-center  m-25 gap-4 p-4">
        <div> 
            <img class="rounded-full  bg-amber-200" src="https://placehold.co/350x350" alt="Perfil" />
        </div>
        <div>
            <div class="texto w-130">
                <p>
                    <h1>
                        Frontend Developer;
                    </h1>
                </p>
            </div>
            
        </div>
    </div>
</section>