---
import { Card } from  '../base/Card';

const proyectosData = [
  {
    title: 'Siguiendo Las patitas',
    description: ' Un sitio web para una protectora de animales, donde puedes adoptar y donar. lorem  ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.',
    imageUrl: 'https://placehold.co/100x100',
    tags: ['React', 'Node.js', 'MongoDB'],
  },
  {
    title: 'Mi Proyecto Personal',
    description: 'Un proyecto personal que estoy desarrollando para aprender más sobre programación.',
    imageUrl: 'https://placehold.co/100x100',
    tags: ['HTML', 'CSS', 'JavaScript'],
  },
];
---


<section class="w-full mx-auto">
  <div class="w-auto flex flex-col justify-center items-center pt-14">
    <div>
      <h2 class="text-2xl font-bold mb-4">Proyectos</h2>
    </div>
    <div>
      <p class="text-center w-lg text-b">
        Aquí puedes encontrar una colección de proyectos destacados que he desarrollado. Cada proyecto refleja mis habilidades y mi pasión por la programación. Haz clic en cada tarjeta para obtener más detalles sobre cada uno.
      </p>
    </div>
  </div>
  
  <div class="w-full flex justify-center items-center pt-15 mb-15 px-4">
    <div class="flex gap-10 ">

      {proyectosData.map(proyecto => (
        <Card
          title={proyecto.title}
          description={proyecto.description}
          imageUrl={proyecto.imageUrl}
          tags={proyecto.tags}
        />
      ))}
    </div>
  </div>
</section>