---

import "../../styles/global.css";
---

<section>
    <div class="bg-amber-100 flex gap-3 items-end">
            <div>
                <a href="https://github.com/yourusername" target="_blank" rel="noopener noreferrer">GitHub</a>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/yourusername" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            </div>
            <div>
                <a href="https://daily.dev/yourusername" target="_blank" rel="noopener noreferrer">Daily.dev</a>
            </div>
    </div>
</section>
