<section>
    <div class="container">
        <h1>Blogs</h1>
        <p>Welcome to the blog section. Here you will find the latest articles and updates.</p>
        <ul>
            <li><a href="/blog/post1">Blog Post 1</a></li>
            <li><a href="/blog/post2">Blog Post 2</a></li>
            <li><a href="/blog/post3">Blog Post 3</a></li>
            <li><a href="/blog/post4">Blog Post 4</a></li>
            <li><a href="/blog/post5">Blog Post 5</a></li>
        </ul>
        <p>Stay tuned for more updates!</p>
    </div>
</section>