

<section class="w-full">
    <div class="container">
        <div> 
            <img class="rounded-full  bg-amber-200" src="https://placehold.co/350x350" alt="Perfil" />
        </div>
        <div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis rerum molestiae, maxime perferendis, corporis voluptates quam atque numquam
            </p>
        </div>
    </div>
</section>